
unityProject/Library/

unityProject/ProjectSettings/

unityProject/UserSettings/

unityProject/Logs/

unityProject/Packages/

unityProject/Assets/HoudiniEngineAssetCache/

unityProject/Assets/Plugins/

unityProject/Assets/TextMesh Pro/

unityProject/Assets/Tools/
